td {width: 100px; height: 50px ;}
.descanso{background-color: rgb(47, 220, 255);}
.ip2{background-color: aquamarine;}
.ingles{background-color: lightgoldenrodyellow;}
.fundamentos{background-color: pink;}
.sor{background-color: lightcoral;}
.seguridad{background-color: lightblue;}
.aw{background-color: burlywood;}
.sr{background-color: lightsalmon;}
.proyecto{background-color: rgb(146, 125, 125);;}

